<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
    <p:panel header="Sistema de Gestão de Padarias">
        <h:panelGrid id="dados" columns="4" columnClasses="columnLabel,columnValues,columnLabel,columnValues">
            <p:button type="button" value="Clientes" ajax="false" icon="ui-icon-plus" href="#{appUrlStore.clienteCrudUrl}"/>
            <p:button type="button" value="Produtos" icon="ui-icon-cart" href="#{appUrlStore.produtoCrudUrl}"/>
            <p:button type="button" value="Fornecedores" icon="ui-icon-person" href="#{appUrlStore.fornecedorCrudUrl}"/>
        </h:panelGrid>
    </p:panel>
</h:body>
</html>