<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <style type="text/css">
        .ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
            text-align: center;
        }

        .botoes {
            text-align: center;
        }

        .botoes button {
            margin: 5px 2.5px 5px 2.5px;
        }

        .columnLabel, .columnLabelAudit, .columnLabelLimite {
            text-align: right;
            font-weight: bold !important;
        }

        .columnValues span, .columnValuesAudit span, .columnValuesLimite span {
            font-weight: !important;
        }

        .columnValues input, .columnValuesLimite input {
            margin: 0 !important;
        }

        .columnValues input[type=text], columnValues input[type=password], .columnValues select {
            width: 200px;
        }

        .columnValues input, .columnValuesLimite input {
            margin: 0 5px 0 0 !important;
        }

    </style>
</h:head>

<h:body>
    <p:panel header="Gerenciamento de Produtos">
        <h:form rendered="#{not empty mbProduto.listaProdutos}">
            <p:dataTable value="#{mbProduto.listaProdutos}" var="item">
                <p:column headerText="Ações">
                    <h:panelGroup layout="block" styleClass="botoes" style="text-align: center !important;">
                        <p:commandButton value="Editar" action="#{mbProduto.editar(item)}"/>
                        <p:growl id="messageDeletar" showDetail="true"/>
                        <p:commandButton value="Remover" action="#{mbProduto.deletar(item)}" update="messageDeletar">
                            <p:confirm header="Remoção" message="Deseja mesmo remover o produto?"
                                       icon="pi pi-exclamation-triangle" style="font-weight: bold;"/>
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" id="confirmDialogRemocao"
                                         style="text-align: center !important;">
                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes"
                                             icon="pi pi-check" style="text-align: center !important;"/>
                            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no"
                                             icon="pi pi-times" style="text-align: center !important;"/>
                        </p:confirmDialog>
                    </h:panelGroup>
                </p:column>
                <p:column headerText="Código">
                    <h:outputText value="#{item.id}"/>
                </p:column>
                <p:column headerText="Nome">
                    <h:outputText value="#{item.nome}"/>
                </p:column>

                <p:column headerText="Fornecedor">
                    <h:outputText value="#{item.fornecedor.nome}"/>
                </p:column>

                <p:column headerText="Preço Custo">
                    <h:outputText value="#{item.precoCusto}"/>
                </p:column>
                <p:column headerText="Preço Final">
                    <h:outputText value="#{item.precoFinal}"/>
                </p:column>
                <p:column headerText="Perecivel">
                    <h:outputText value="#{item.perecivel}"/>
                </p:column>
                <p:column headerText="Unidades">
                    <h:outputText value="#{item.unidade}"/>
                </p:column>
            </p:dataTable>
        </h:form>

        <h:panelGroup rendered="#{empty mbProduto.listaProdutos}">
            <p style="font-weight: bold">Nenhum produto adicionado!</p>
        </h:panelGroup>

        <h:panelGroup rendered="#{!mbProduto.edicao}">
            <p:panel header="Adicionar Produto" style="margin-bottom: 10px;">
                <h:panelGrid columns="2" columnClasses="columnLabel,columnValues">
                    <h:form>
                        <p>
                            <h:outputLabel value="Nome:" style="font-weight: bold"/>
                            <p:inputText id="nomeProduto" required="true" requiredMessage="Campo nome é obrigatório"
                                         value="#{mbProduto.produto.nome}"
                                         style="margin-left: 2px;"/>
                            <p:message for="nomeProduto" showDetail="true" closable="true"/>
                        </p>
                        <p>
                            <h:outputLabel value="Preço Custo:" style="font-weight: bold"/>
                            <p:inputText id="precoCustoProduto" required="true"
                                         requiredMessage="Campo preço custo é obrigatório"
                                         value="#{mbProduto.produto.precoCusto}"
                                         style="margin-left: 2px;"/>
                            <p:message for="precoCustoProduto" showDetail="true" closable="true"/>
                        </p>
                        <p>
                            <h:outputLabel value="Preço Final:" style="font-weight: bold"/>
                            <p:inputText id="precoFinalProduto" required="true"
                                         requiredMessage="Campo preço final é obrigatório"
                                         value="#{mbProduto.produto.precoFinal}"
                                         style="margin-left: 2px;"/>
                            <p:message for="precoFinalProduto" showDetail="true" closable="true"/>
                        </p>
                        <p>
                            <h:outputLabel value="Unidades:" style="font-weight: bold"/>
                            <p:inputText id="unidadesProduto" required="true"
                                         requiredMessage="Campo unidade é obrigatório"
                                         value="#{mbProduto.produto.unidade}"
                                         style="margin-left: 2px;"/>
                            <p:message for="unidadesProduto" showDetail="true" closable="true"/>
                        </p>

                        <h:outputLabel value="Produto é perecivel:" style="font-weight: bold; margin-left: 2px;"/>
                        <p:selectOneMenu value="#{mbProduto.produto.perecivel}" id="perecivelProduto"
                                         required="true"
                                         requiredMessage="Campo perecivel é obrigatório">
                            <f:selectItem itemLabel="Selecione o tipo" itemValue="" noSelectionOption="true"/>
                            <f:selectItems value="#{mbProduto.perecivel}"/>
                        </p:selectOneMenu>
                        <p:message for="perecivelProduto" showDetail="true" closable="true"/>

                        <h:outputLabel value="Fornecedor:"
                                       style="font-weight: bold; margin-left: 2px; margin-bottom: 5px;"/>
                        <p:selectOneMenu id="fornecedorProduto" value="#{mbProduto.fornecedor}" converter="generic"
                                         var="f" required="true"
                                         requiredMessage="Campo fornecedor é obrigatório" style="margin-bottom: 5px">
                            <f:selectItem itemLabel="Selecione um fornecedor" itemValue="" noSelectionOption="true"/>
                            <f:selectItems value="#{mbProduto.listaDeFornecedores}" var="fornecedor"
                                           itemLabel="#{fornecedor.nome}" itemValue="#{fornecedor}"/>
                            <p:column style="width: 10%;">
                                <h:outputText value="#{f.nome}"/>
                            </p:column>
                        </p:selectOneMenu>
                        <p:message for="fornecedorProduto" showDetail="true" closable="true"/>

                        <p>
                            <h:panelGroup layout="block" styleClass="botoes" style="text-align: center !important;">
                                <p:growl id="messageProduto" showDetail="true"/>
                                <p:commandButton value="Salvar" action="#{mbProduto.adicionar}" update="messageProduto">
                                    <p:confirm header="Confirmação" message="Deseja mesmo salvar o produto?"
                                               icon="pi pi-exclamation-triangle"/>
                                </p:commandButton>

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" id="confirmDialog"
                                                 style="text-align: center !important;">
                                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes"
                                                     icon="pi pi-check"/>
                                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no"
                                                     icon="pi pi-times"/>
                                </p:confirmDialog>

                                <p:button value="Cancelar" action="#{mbProduto.resetar}"
                                          style="margin-left: 5px"/>

                            </h:panelGroup>
                        </p>
                    </h:form>
                </h:panelGrid>
            </p:panel>
        </h:panelGroup>

        <h:panelGroup rendered="#{mbProduto.edicao}">
            <p:panel header="Editar Produto" style="margin-bottom: 10px;">
                <h:panelGrid columns="2" columnClasses="columnLabel,columnValues">
                    <h:form>
                        <p>
                            <h:outputLabel value="Nome:" style="font-weight: bold"/>
                            <p:inputText id="nomeProdutoEdicao" required="true"
                                         requiredMessage="Campo nome é obrigatório"
                                         value="#{mbProduto.produto.nome}"
                                         style="margin-left: 2px;"/>
                            <p:message for="nomeProdutoEdicao" showDetail="true" closable="true"/>
                        </p>

                        <p>
                            <h:outputLabel value="Preço Custo:" style="font-weight: bold"/>
                            <p:inputText id="precoCustoEdicao" required="true"
                                         requiredMessage="Campo cnpj é obrigatório"
                                         value="#{mbProduto.produto.precoCusto}"
                                         style="margin-left: 2px;"/>
                            <p:message for="precoCustoEdicao" showDetail="true" closable="true"/>
                        </p>

                        <p>
                            <h:outputLabel value="Preço Final:" style="font-weight: bold"/>
                            <p:inputText id="precoFinalEdicao" required="true"
                                         requiredMessage="Campo preço final é obrigatório"
                                         value="#{mbProduto.produto.precoFinal}"
                                         style="margin-left: 2px;"/>
                            <p:message for="precoFinalEdicao" showDetail="true" closable="true"/>
                        </p>

                        <p>
                            <h:outputLabel value="Unidades:" style="font-weight: bold"/>
                            <p:inputText id="unidadesProdutoEdicao" required="true"
                                         requiredMessage="Campo preço final é obrigatório"
                                         value="#{mbProduto.produto.unidade}"
                                         style="margin-left: 2px;"/>
                            <p:message for="unidadesProdutoEdicao" showDetail="true" closable="true"/>
                        </p>


                        <h:outputLabel value="Produto é perecivel:" style="font-weight: bold; margin-left: 2px;"/>
                        <p:selectOneMenu value="#{mbProduto.produto.perecivel}" id="perecivelProdutoEdicao"
                                         required="true"
                                         requiredMessage="Campo perecivel é obrigatório">
                            <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true"/>
                            <f:selectItems value="#{mbProduto.perecivel}"/>
                        </p:selectOneMenu>
                        <p:message for="perecivelProdutoEdicao" showDetail="true" closable="true"/>

                        <h:outputLabel value="Fornecedor:"
                                       style="font-weight: bold; margin-left: 2px; margin-bottom: 5px;"/>
                        <p:selectOneMenu id="fornecedorProdutoEdicao" value="#{mbProduto.produto.fornecedor}" converter="generic"
                                         var="f" required="true"
                                         requiredMessage="Campo fornecedor é obrigatório" style="margin-bottom: 5px">
                            <f:selectItem itemLabel="Selecione um fornecedor" itemValue="" noSelectionOption="true"/>
                            <f:selectItems value="#{mbProduto.listaDeFornecedores}" var="fornecedor"
                                           itemLabel="#{fornecedor.nome}" itemValue="#{fornecedor}"/>
                            <p:column style="width: 10%;">
                                <h:outputText value="#{f.nome}"/>
                            </p:column>
                        </p:selectOneMenu>
                        <p:message for="fornecedorProdutoEdicao" showDetail="true" closable="true"/>

                        <p>
                            <h:panelGroup layout="block" styleClass="botoes" style="text-align: center !important;">
                                <p:growl id="messageEdicao" showDetail="true"/>
                                <p:commandButton value="Salvar" action="#{mbProduto.gravar}" update="messageEdicao">
                                    <p:confirm header="Confirmação" message="Deseja mesmo gravar o produto?"
                                               icon="pi pi-exclamation-triangle" style="font-weight: bold;"/>
                                </p:commandButton>

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
                                                 id="confirmDialogEdicao" style="text-align: center !important;">
                                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes"
                                                     icon="pi pi-check" style="text-align: center !important;"/>
                                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no"
                                                     icon="pi pi-times" style="text-align: center !important;"/>
                                </p:confirmDialog>

                                <p:commandButton value="Cancelar" action="#{mbProduto.cancelar}"
                                                 style="margin-left: 5px"/>
                            </h:panelGroup>
                        </p>
                    </h:form>
                </h:panelGrid>
            </p:panel>
        </h:panelGroup>

        <p>
            <a href="#{appUrlStore.paginaInicial}">Tela inicial</a>
        </p>
    </p:panel>
</h:body>
</html>