<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <style type="text/css">
        .ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
            text-align: center;
        }

        .botoes {
            text-align: center;
        }

        .botoes button {
            margin: 5px 2.5px 5px 2.5px;
        }

        .columnLabel, .columnLabelAudit, .columnLabelLimite {
            text-align: right;
            font-weight: bold !important;
        }

        .columnValues span, .columnValuesAudit span, .columnValuesLimite span {
            font-weight: !important;
        }

        .columnValues input, .columnValuesLimite input {
            margin: 0 !important;
        }

        .columnValues input[type=text], columnValues input[type=password], .columnValues select {
            width: 200px;
        }

        .columnValues input, .columnValuesLimite input {
            margin: 0 5px 0 0 !important;
        }

    </style>
</h:head>

<h:body>
    <p:panel header="Gerenciamento de Clientes">
        <h:form rendered="#{not empty mbCliente.listaCliente}" id="clienteForm">
            <p:dataTable value="#{mbCliente.listaCliente}" var="item">

                <p:column headerText="Ações">

                    <h:panelGroup layout="block" styleClass="botoes" style="text-align: center !important;">

                        <p:commandButton value="Editar" action="#{mbCliente.editar(item)}"/>
                        <p:growl id="messageDeletar" showDetail="true"/>
                        <p:commandButton value="Remover" action="#{mbCliente.deletar(item)}" update="messageDeletar">
                            <p:confirm header="Remoção" message="Deseja mesmo remover o usuário?"
                                       icon="pi pi-exclamation-triangle" style="font-weight: bold;"/>
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" id="confirmDialogRemocao"
                                         style="text-align: center !important;">
                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes"
                                             icon="pi pi-check" style="text-align: center !important;"/>
                            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no"
                                             icon="pi pi-times" style="text-align: center !important;"/>
                        </p:confirmDialog>
                    </h:panelGroup>
                </p:column>

                <p:column headerText="Código">
                    <h:outputText value="#{item.id}"/>
                </p:column>
                <p:column headerText="Nome">
                    <h:outputText value="#{item.nome}"/>
                </p:column>
                <p:column headerText="Cpf">
                    <h:outputText value="#{item.cpf}"/>
                </p:column>
                <p:column headerText="Endereço">
                    <h:outputText value="#{item.endereco}"/>
                </p:column>
                <p:column headerText="Telefone">
                    <h:outputText value="#{item.telefone}"/>
                </p:column>
                <p:column headerText="Tipo Fidelidade">
                    <h:outputText value="#{item.cartaoFidelidade}"/>
                </p:column>

            </p:dataTable>

        </h:form>

        <h:panelGroup rendered="#{empty mbCliente.listaCliente}">
            <p style="font-weight: bold">Nenhum cliente adicionado!</p>
        </h:panelGroup>

        <h:panelGroup rendered="#{!mbCliente.edicao}">
            <p:panel header="Adicionar Cliente" style="margin-bottom: 10px;">
                <h:panelGrid columns="2" columnClasses="columnLabel,columnValues">
                    <h:form>
                        <p>
                            <h:outputLabel value="Nome:" style="font-weight: bold"/>
                            <p:inputText id="nomeCliente" required="true" requiredMessage="Campo nome é obrigatório"
                                         value="#{mbCliente.cliente.nome}"
                                         style="margin-left: 2px;"/>
                            <p:message for="nomeCliente" showDetail="true" closable="true"/>
                        </p>
                        <p>
                            <h:outputLabel value="Cpf:" style="font-weight: bold"/>
                            <p:inputMask id="cpfCliente" required="true" requiredMessage="Campo cpf é obrigatório"
                                         value="#{mbCliente.cliente.cpf}" mask="999.999.999-99"
                                         style="margin-left: 2px;"/>
                            <p:message for="cpfCliente" showDetail="true" closable="true"/>
                        </p>
                        <p>
                            <h:outputLabel value="Telefone:" style="font-weight: bold"/>
                            <p:inputMask id="telefoneCliente" required="true" requiredMessage="Campo telefone é obrigatório"
                                         value="#{mbCliente.cliente.telefone}"
                                         style="margin-left: 2px;" mask="(99) 9999-9999"/>
                            <p:message for="telefoneCliente" showDetail="true" closable="true"/>
                        </p>
                        <p>
                            <h:outputLabel value="Endereço:" style="font-weight: bold"/>
                            <p:inputText id="enderecoCliente" required="true"
                                         requiredMessage="Campo endereço é obrigatório"
                                         value="#{mbCliente.cliente.endereco}"
                                         style="margin-left: 2px;"/>
                            <p:message for="enderecoCliente" showDetail="true" closable="true"/>
                        </p>
                        <h:outputLabel value="Tipo Cartão Fidelidade:" style="font-weight: bold; margin-left: 2px;"/>
                        <p:selectOneMenu value="#{mbCliente.cliente.cartaoFidelidade}" id="tipoFidelidadeCliente"
                                         required="true"
                                         requiredMessage="Campo tipo cartão fidelidade é obrigatório">
                            <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true"/>
                            <f:selectItems value="#{mbCliente.tipoFidelidade}"/>
                        </p:selectOneMenu>
                        <p:message for="tipoFidelidadeCliente" showDetail="true" closable="true"/>
                        <p>
                            <h:panelGroup layout="block" styleClass="botoes" style="text-align: center !important;">
                                <p:growl id="messageCliente" showDetail="true"/>
                                <p:commandButton value="Salvar" action="#{mbCliente.adicionar}" update="messageCliente">
                                    <p:confirm header="Confirmação" message="Deseja mesmo salvar o usuário?"
                                               icon="pi pi-exclamation-triangle"/>
                                </p:commandButton>

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" id="confirmDialog"
                                                 style="text-align: center !important;">
                                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes"
                                                     icon="pi pi-check"/>
                                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no"
                                                     icon="pi pi-times"/>
                                </p:confirmDialog>

                                <p:button value="Cancelar" action="#{mbCliente.resetar}"
                                                 style="margin-left: 5px"/>
                            </h:panelGroup>
                        </p>
                    </h:form>
                </h:panelGrid>
            </p:panel>
        </h:panelGroup>

        <h:panelGroup rendered="#{mbCliente.edicao}">
            <p:panel header="Editar Cliente" style="margin-bottom: 10px;">
                <h:panelGrid columns="2" columnClasses="columnLabel,columnValues">
                    <h:form>
                        <p>
                            <h:outputLabel value="Nome:" style="font-weight: bold"/>
                            <p:inputText id="nomeClienteEdicao" required="true" requiredMessage="Campo nome é obrigatório"
                                         value="#{mbCliente.cliente.nome}"
                                         style="margin-left: 2px;"/>
                            <p:message for="nomeClienteEdicao" showDetail="true" closable="true"/>
                        </p>
                        <p>
                            <h:outputLabel value="Cpf:" style="font-weight: bold"/>
                            <p:inputMask id="cpfClienteEdicao" required="true" requiredMessage="Campo cpf é obrigatório"
                                         value="#{mbCliente.cliente.cpf}"
                                         style="margin-left: 2px;" mask="999.999.999-99"/>
                            <p:message for="cpfClienteEdicao" showDetail="true" closable="true"/>
                        </p>
                        <p>
                            <h:outputLabel value="Endereço:" style="font-weight: bold"/>
                            <p:inputText id="enderecoClienteEdicao" required="true"
                                         requiredMessage="Campo endereço é obrigatório"
                                         value="#{mbCliente.cliente.endereco}"
                                         style="margin-left: 2px;"/>
                            <p:message for="enderecoClienteEdicao" showDetail="true" closable="true"/>
                        </p>
                        <p>
                            <h:outputLabel value="Telefone:" style="font-weight: bold"/>
                            <p:inputMask id="telefoneClienteEdicao" required="true"
                                         requiredMessage="Campo telefone é obrigatório"
                                         value="#{mbCliente.cliente.telefone}"
                                         style="margin-left: 2px;" mask="(99) 9999-9999"/>
                            <p:message for="telefoneClienteEdicao" showDetail="true" closable="true"/>
                        </p>
                        <h:outputLabel value="Tipo Cartão Fidelidade:" style="font-weight: bold; margin-left: 2px;"/>
                        <p:selectOneMenu value="#{mbCliente.cliente.cartaoFidelidade}" id="tipoFidelidadeClienteEdicao"
                                         required="true"
                                         requiredMessage="Campo tipo cartão fidelidade é obrigatório">
                            <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true"/>
                            <f:selectItems value="#{mbCliente.tipoFidelidade}"/>
                        </p:selectOneMenu>
                        <p>
                            <h:panelGroup layout="block" styleClass="botoes" style="text-align: center !important;">
                                <p:growl id="messageClienteEdicao" showDetail="true"/>
                                <p:commandButton value="Salvar" action="#{mbCliente.gravar}" update="messageClienteEdicao">
                                    <p:confirm header="Confirmação" message="Deseja mesmo salvar o usuário?"
                                               icon="pi pi-exclamation-triangle" style="font-weight: bold;"/>
                                </p:commandButton>

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
                                                 id="confirmDialogEdicao" style="text-align: center !important;">
                                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes"
                                                     icon="pi pi-check" style="text-align: center !important;"/>
                                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no"
                                                     icon="pi pi-times" style="text-align: center !important;"/>
                                </p:confirmDialog>
                            </h:panelGroup>

                            <p:commandButton value="Cancelar" action="#{mbCliente.cancelar}"
                                             style="margin-left: 5px"/>
                        </p>
                    </h:form>
                </h:panelGrid>
            </p:panel>
        </h:panelGroup>

        <p>
            <a href="#{appUrlStore.paginaInicial}">Tela inicial</a>
        </p>
    </p:panel>
</h:body>
</html>