<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <style type="text/css">
        .ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
            text-align: center;
        }

        .botoes {
            text-align: center;
        }

        .botoes button {
            margin: 5px 2.5px 5px 2.5px;
        }

        .columnLabel, .columnLabelAudit, .columnLabelLimite {
            text-align: right;
            font-weight: bold !important;
        }

        .columnValues span, .columnValuesAudit span, .columnValuesLimite span {
            font-weight: !important;
        }

        .columnValues input, .columnValuesLimite input {
            margin: 0 !important;
        }

        .columnValues input[type=text], columnValues input[type=password], .columnValues select {
            width: 200px;
        }

        .columnValues input, .columnValuesLimite input {
            margin: 0 5px 0 0 !important;
        }

    </style>
</h:head>

<h:body>
    <p:panel header="Gerenciamento de Fornecedores">

        <h:form rendered="#{not empty mbFornecedor.listaFornecedores}">

            <p:dataTable value="#{mbFornecedor.listaFornecedores}" var="item">

                <p:column headerText="Ações">
                    <h:panelGroup layout="block" styleClass="botoes" style="text-align: center !important;">
                        <p:commandButton value="Editar" action="#{mbFornecedor.editar(item)}"/>
                        <p:growl id="messageDeletar" showDetail="true"/>
                        <p:commandButton value="Remover" action="#{mbFornecedor.deletar(item)}" update="messageDeletar">
                            <p:confirm header="Remoção" message="Deseja mesmo remover o fornecedor?"
                                       icon="pi pi-exclamation-triangle" style="font-weight: bold;"/>
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" id="confirmDialogRemocao"
                                         style="text-align: center !important;">
                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes"
                                             icon="pi pi-check" style="text-align: center !important;"/>
                            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no"
                                             icon="pi pi-times" style="text-align: center !important;"/>
                        </p:confirmDialog>
                    </h:panelGroup>
                </p:column>

                <p:column headerText="Código">
                    <h:outputText value="#{item.id}"/>
                </p:column>

                <p:column headerText="Nome">
                    <h:outputText value="#{item.nome}"/>
                </p:column>

                <p:column headerText="Cnpj">
                    <h:outputText value="#{item.cnpj}"/>
                </p:column>

                <p:column headerText="Endereço">
                    <h:outputText value="#{item.endereco}"/>
                </p:column>

                <p:column headerText="Recorrente">
                    <h:outputText value="#{item.recorrente}"/>
                </p:column>

            </p:dataTable>

        </h:form>

        <h:panelGroup rendered="#{empty mbFornecedor.listaFornecedores}">
            <p style="font-weight: bold">Nenhum fornecedor encontrado!</p>
        </h:panelGroup>

        <h:panelGroup rendered="#{!mbFornecedor.edicao}">

            <p:panel header="Adicionar Fornecedor" style="margin-bottom: 10px;">
                <h:panelGrid columns="2" columnClasses="columnLabel,columnValues">

                    <h:form>
                        <p>
                            <h:outputLabel value="Nome:" style="font-weight: bold"/>
                            <p:inputText id="nome" required="true" requiredMessage="Campo nome é obrigatório"
                                         value="#{mbFornecedor.fornecedor.nome}"
                                         style="margin-left: 2px;"/>
                            <p:message for="nome" showDetail="true" closable="true"/>
                        </p>

                        <p>
                            <h:outputLabel value="Cnpj:" style="font-weight: bold"/>
                            <p:inputMask id="cnpj" required="true" requiredMessage="Campo cnpj é obrigatório"
                                         value="#{mbFornecedor.fornecedor.cnpj}" mask="99.999.999/9999-99"
                                         style="margin-left: 2px;"/>
                            <p:message for="cnpj" showDetail="true" closable="true"/>
                        </p>

                        <p>
                            <h:outputLabel value="Endereço:" style="font-weight: bold"/>
                            <p:inputText id="endereco" required="true"
                                         requiredMessage="Campo endereço é obrigatório"
                                         value="#{mbFornecedor.fornecedor.endereco}"
                                         style="margin-left: 2px;"/>
                            <p:message for="endereco" showDetail="true" closable="true"/>
                        </p>
                        <h:outputLabel value="Fornecedor é recorrente:" style="font-weight: bold; margin-left: 2px;"/>
                        <p:selectOneMenu value="#{mbFornecedor.fornecedor.recorrente}" id="recorrente"
                                         required="true"
                                         requiredMessage="Campo recorrente é obrigatório">
                            <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true"/>
                            <f:selectItems value="#{mbFornecedor.tipoRecorrente}"/>
                        </p:selectOneMenu>
                        <p:message for="recorrente" showDetail="true" closable="true"/>

                        <p>
                            <h:panelGroup layout="block" styleClass="botoes" style="text-align: center !important;">
                                <p:growl id="message" showDetail="true"/>
                                <p:commandButton value="Salvar" action="#{mbFornecedor.adicionar}" update="message">
                                    <p:confirm header="Confirmação" message="Deseja mesmo salvar o fornecedor?"
                                               icon="pi pi-exclamation-triangle"/>
                                </p:commandButton>

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" id="confirmDialog"
                                                 style="text-align: center !important;">
                                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes"
                                                     icon="pi pi-check"/>
                                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no"
                                                     icon="pi pi-times"/>
                                </p:confirmDialog>

                                <p:commandButton value="Cancelar" action="#{mbFornecedor.resetar}"
                                                 style="margin-left: 5px"/>
                            </h:panelGroup>
                        </p>
                    </h:form>
                </h:panelGrid>
            </p:panel>
        </h:panelGroup>

        <h:panelGroup rendered="#{mbFornecedor.edicao}">
            <p:panel header="Editar Cliente" style="margin-bottom: 10px;">
                <h:panelGrid columns="2" columnClasses="columnLabel,columnValues">
                    <h:form>
                        <p>
                            <h:outputLabel value="Nome:" style="font-weight: bold"/>
                            <p:inputText id="nomeEdicao" required="true" requiredMessage="Campo nome é obrigatório"
                                         value="#{mbFornecedor.fornecedor.nome}"
                                         style="margin-left: 2px;"/>
                            <p:message for="nomeEdicao" showDetail="true" closable="true"/>
                        </p>

                        <p>
                            <h:outputLabel value="Cnpj:" style="font-weight: bold"/>
                            <p:inputMask id="cnpjEdicao" required="true" requiredMessage="Campo cnpj é obrigatório"
                                         value="#{mbFornecedor.fornecedor.cnpj}" mask="99.999.999/9999-99"
                                         style="margin-left: 2px;"/>
                            <p:message for="cnpjEdicao" showDetail="true" closable="true"/>
                        </p>

                        <p>
                            <h:outputLabel value="Endereço:" style="font-weight: bold"/>
                            <p:inputText id="enderecoEdicao" required="true"
                                         requiredMessage="Campo endereço é obrigatório"
                                         value="#{mbFornecedor.fornecedor.endereco}"
                                         style="margin-left: 2px;"/>
                            <p:message for="enderecoEdicao" showDetail="true" closable="true"/>
                        </p>
                        <h:outputLabel value="Fornecedor é recorrente:" style="font-weight: bold; margin-left: 2px;"/>
                        <p:selectOneMenu value="#{mbFornecedor.fornecedor.recorrente}" id="recorrenteEdicao"
                                         required="true"
                                         requiredMessage="Campo recorrente é obrigatório">
                            <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true"/>
                            <f:selectItems value="#{mbFornecedor.tipoRecorrente}"/>
                        </p:selectOneMenu>
                        <p:message for="recorrenteEdicao" showDetail="true" closable="true"/>

                        <p>
                            <h:panelGroup layout="block" styleClass="botoes" style="text-align: center !important;">
                                <p:growl id="messageEdicao" showDetail="true"/>
                                <p:commandButton value="Salvar" action="#{mbFornecedor.gravar}" update="messageEdicao">
                                    <p:confirm header="Confirmação" message="Deseja mesmo salvar o usuário?"
                                               icon="pi pi-exclamation-triangle" style="font-weight: bold;"/>
                                </p:commandButton>

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
                                                 id="confirmDialogEdicao" style="text-align: center !important;">
                                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes"
                                                     icon="pi pi-check" style="text-align: center !important;"/>
                                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no"
                                                     icon="pi pi-times" style="text-align: center !important;"/>
                                </p:confirmDialog>

                                <p:commandButton value="Cancelar" action="#{mbFornecedor.cancelar}"
                                                 style="margin-left: 5px"/>
                            </h:panelGroup>
                        </p>
                    </h:form>
                </h:panelGrid>
            </p:panel>
        </h:panelGroup>

        <p>
            <a href="#{appUrlStore.paginaInicial}">Tela inicial</a>
        </p>
    </p:panel>
</h:body>
</html>